<div class="user-account-nav user-account-sidebar">
<div class="user-nav-list">
<ul>
<li class="{% if request.path == '/accounts/shopperdashboard/' or request.path == '/accounts/shop/' %}active{% endif %}"><a href="{% url 'shopperdashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
<li class="{% if 'profile' in request.path %}active{% endif %}"><a href="{% url 'shopprofile' %}"><i class="icon-building"></i>My Shop</a></li>
 <li class="{% if 'items_list' in request.path %}active{% endif %}"><a href="{% url 'items_list' %}"><i class="icon-menu5"></i>Add Items</a></li>

<li class="{% if 'opening-hour' in request.path %}active{% endif %}"><a href="{% url 'opening_hours' %}"><i class="icon-menu5"></i>Opening Hours</a></li>

<li class="{% if '/my_orders/' in request.path %}active{% endif %}"><a href="{% url 'shop_my_orders' %}"><i class="icon-add_shopping_cart"></i>Orders</a></li>
<!-- <li><a href="restaurant-earnings.html"><i class="icon-money"></i>Earnings</a></li> -->

<!-- <li><a href="restaurant-change-password.html"><i class="icon-unlock-alt"></i>Change Password</a></li> -->
<li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
</ul>
</div>
</div>